<div class="footer">
  <div class="footer-content1">
    <h1 style="margin-bottom: 0px">Light novel</h1>
    <h1 style="font-size: 60px; margin: 0px">world</h1>
    <p class="footerword">
      © Copyright lightnovels world All Rights Reserved.
    </p>
  </div>
  <div class="footer-content2">
    <h2>Teams</h2>
    <p class="footerword">Nguyễn Tiến Lợi</p>
    <p class="footerword">Đặng Cao Minh</p>
  </div>
  <div class="footer-content2">
    <h2>Tương tác</h2>
    <a href="" class="footerword">Email</a>
    <p></p>
    <a href="" class="footerword">You tube</a>
    <p></p>
    <a href="" class="footerword">Tiktok</a>
    <p></p>
    <a href="" class="footerword">Facebook</a>
    <p></p>
    <a href="" class="footerword">Twitter</a>
  </div>
  <div class="footer-content2">
    <h2>Hotline</h2>
    <p class="footerword">0866153684</p>
    <p class="footerword">01228566381</p>
  </div>
</div>