<div class="header">
  <div style="display: flex">
    <!--
          <div class="logo"></div>
        -->
    <ul>
      <li class="list">
        <a href="/" class="navbar-word"><b>Trang chủ</b></a>
      </li>
      <!--
      <li class="list">
        <a href="/detail/create" class="navbar-word"><b>Thêm truyện</b></a>
      </li>
      -->
      <li class="list">
        <a href="/manager/manager" class="navbar-word"><b>Quản lí</b></a>
      </li>
    </ul>
  </div>
  <div><input type="”text”" placeholder="Tìm Kiếm" /></div>
  <div>
    <a href="" class="navbar-word"><b>Tài khoản</b></a>
  </div>
</div>