<div class="content">
  <h1 style="border-bottom: solid 2px rgb(231, 231, 231); width: 100%">
    Thêm truyện mới:
  </h1>
  <form method="POST" action="store">
    <div class="mb-3">
      <label for="ten" class="form-label">Tên truyện:</label>
      <input type="text" class="form-control" id="ten" name="ten" />

    </div>

    <div class="mb-3">
      <label for="theloai" class="form-label">Thể loại:</label>
      <input type="text" class="form-control" id="theloai" name="theloai" />

    </div>

    <div class="mb-3">
      <label for="tacgia" class="form-label">Tác giả:</label>
      <input type="text" class="form-control" id="tacgia" name="tacgia" />
    </div>

    <div class="mb-3">
      <label for="tomtat" class="form-label">Tóm tắt:</label>
      <input type="text" class="form-control" id="tomtat" name="tomtat" />
    </div>

    <div class="mb-3">
      <label for="noidung" class="form-label">Nội dung:</label>
      <input type="text" class="form-control" id="noidung" name="noidung" />
    </div>

    <div class="mb-3">
      <label for="anh" class="form-label">Ảnh bìa:</label>
      <input type="text" class="form-control" id="anh" name="anh" />
    </div>

    <div class="mb-3">
      <label for="anhd" class="form-label">Ảnh chi tiết:</label>
      <input type="text" class="form-control" id="anhd" name="anhd" />
    </div>

    <div class="mb-3">
      <label for="slug" class="form-label">Đường dẫn</label>
      <input type="text" class="form-control" id="slug" name="slug" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm mới</button>
  </form>
</div>