<div class="content">
  <h1 style="text-align: center;">{{Light_novels.ten}}</h1>
  
  <!--
  <div class="menu">
    <button>
      <a href=""><b>Chương trước</b></a>
    </button>
    <button>
      <a href="index.html"><b>Trang chủ</b></a>
    </button>
    <button>
      <a href=""><b>Chương trước</b></a>
    </button>
  </div>
  -->
  <p style="
  margin-top: 40px;
  font-size: 22px;
  text-align: justify;
  box-sizing: border-box;
  line-height: 32px;">
    {{Light_novels.noidung}}
  </p>
  <!--
  <button style="
  margin: 20px;
  background-color: rgb(68, 144, 244);
  height: 35px;
  width: 150px;
  border-radius: 20px;
  border: solid 1px rgb(231, 231, 231);
  color: white;">
      <a href="/detail/{{Light_novels.slug}}"><b>Quay lại</b></a>
    </button>
  -->
  </div>
</div>