<div class="bodycontent">
  <h1 style="margin-bottom: 0px">
    <b>Chào mừng đến với Light novel world</b>
  </h1>
  <p class="footerword">
    Hãy đăng nhập để tận hưởng ngay những cuộc vui bất tận từ light novel world
  </p>
  <div class="signinbox" style="height: 200px">
    <div style="display: flex; justify-content: center">
      <p style="margin-right: 20px">Tài khoản :</p>
      <input type="text" />
    </div>
    <div style="display: flex; justify-content: center">
      <p style="margin-right: 20px">Mật khẩu :</p>
      <input type="text" />
    </div>
    <div style="display: flex; justify-content: center">
      <button type="button" onclick="alert('Đăng kí đếch thành công')">
        <b style="color: white">Đăng kí</b>
      </button>
    </div>
  </div>
</div>